.results-page {
    width: 100%;
}

.nav-header {
    margin-top: 1%;
    width: 100%;
}

.result-nav-link {
    width: 33%;
    margin-left: .3%;
}

.national-flag-holder {
    width: 50%;
    display: inline-block;
}

.national-flag {
    width: 100%;
    padding: 5%;
    margin-top: -15%;
}

.result-page-stats {
    width: 50%;
    display: inline-block;
    padding-top: 5%;
    text-align: center;
}

.stats-list-item {
    margin-top: 2%;
}

.stats-header-holder {
    width: 100%;
    text-align: center;
}

.stats-header {
    display: inline-block;
    margin-top: 5%;
    margin-bottom: 5%;
}

.country-stats-header {
    border-bottom: 1px solid black;
    margin-top: 2%;
}


/* news page */

.news-container {
    width: 100%;
}

.news-page {
    text-align: center;
}

.related-news {
    margin-top: 3%;
    display: inline-block;
    width: 80%;
    padding: 2%;
    border: 1px solid gray;
    border-radius: 5px;
}

.news-list-item {
    width: 50%;
    display: inline-block;
}

.article-text-holder {
    display: inline-block;
    width: 50%;
    padding-right: 5%;
    padding-left: 5%;
}

.article-text {
    color: black;
}

.news-article {
    height: 100%;
}

.news-list-item {
    margin-top: 1%;
}

.news-article-image {
    width: 50%;
    border-radius: 5px;
    border: 1px solid black;
}

@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 767px) {
    .national-flag-holder {
        display: block;
        width: 100%;
        padding-top: 20%;
    }

    .result-page-stats {
        display: block;
        width: 100%;
    }

    .news-list-item {
        display: inline-block;
        width: 95%;
    }

}
