.formHolder {
    display: inline-block;
    position: relative;
    width: 80%;
    margin-top: 30%;
}

@media (min-width: 1080px) {
    .formHolder {
        margin-top: 15%;
    }

    .form-group {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }

    .form-control {
        width: 65%;
        margin: auto;
        text-align: center;
    }

    .text-muted {
        margin-top: 5%;
    }
}

