
.questionBody {
    min-height: 70vh;
    max-width: 100vw;
    max-height: 100vh;
    background-color: #dadada;
}

.advertisement {
    width: 100%;
    height: 200px;
    background-color: black;
    text-align: center;
}

.add-text {

}

.questionIconContainer {
    width: 40%;
    height: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.questionIcon {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
}

.questionTextHolder {
    height: 10vh;
}

.questionText {
    text-align: center;
    width: 80%;
    margin: 5% auto;
    font-size: x-large;
}

.userSlider {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.leftInputValHolder {
    margin-top: 20%;
    text-align: center;
    margin-left: auto;
    display: inline-block;
    width: 50%;
    font-size: small;
}

.rightInputValHolder {
    text-align: center;
    margin-right: auto;
    display: inline-block;
    width: 50%;
    font-size: small;
}

.next {
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: block;
    width: 30%;
    background-color: #a8aca7;
    border-radius: 28px;
    border: 1px solid white;
    cursor: pointer;
    color: #000000;
    font-family: Arial;
    font-size: 17px;
    padding: 16px 31px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #a8aca7;
}

.next:hover {
    background-color: white;
}

.next:active {
    position: relative;
    top: 1px;
}

input[type=range].userSlider {
    margin: auto;
    display: block;
    width: 80%;
    background-color: transparent;
    -webkit-appearance: none;
}

input[type=range].userSlider:focus {
    outline: none;
}

input[type=range].userSlider::-webkit-slider-runnable-track {
    background: rgba(168, 172, 167, 0.5);
    border: 0.8px solid #010101;
    width: 100%;
    height: 7px;
    cursor: pointer;
}

input[type=range].userSlider::-webkit-slider-thumb {
    margin-top: -11.3px;
    width: 27px;
    height: 28px;
    background: #d2f7f5;
    border: 0.2px solid #000000;
    border-radius: 11px;
    cursor: pointer;
    -webkit-appearance: none;
}

input[type=range].userSlider:focus::-webkit-slider-runnable-track {
    background: #a8aca7;
}

input[type=range].userSlider::-moz-range-track {
    background: rgba(168, 172, 167, 0.5);
    border: 0.8px solid #010101;
    width: 100%;
    height: 7px;
    cursor: pointer;
}

input[type=range].userSlider::-moz-range-thumb {
    width: 27px;
    height: 28px;
    background: #d2f7f5;
    border: 0.2px solid #000000;
    border-radius: 11px;
    cursor: pointer;
}

input[type=range].userSlider::-ms-track {
    background: transparent;
    border-color: transparent;
    border-width: 10.5px 0;
    color: transparent;
    width: 100%;
    height: 7px;
    cursor: pointer;
}

input[type=range].userSlider::-ms-fill-lower {
    background: #a8aca7;
    border: 0.8px solid #010101;
}

input[type=range].userSlider::-ms-fill-upper {
    background: rgba(168, 172, 167, 0.5);
    border: 0.8px solid #010101;
}

input[type=range].userSlider::-ms-thumb {
    width: 27px;
    height: 28px;
    background: #d2f7f5;
    border: 0.2px solid #000000;
    border-radius: 11px;
    cursor: pointer;
    margin-top: 0px;
    /*Needed to keep the Edge thumb centred*/
}

input[type=range].userSlider:focus::-ms-fill-lower {
    background: rgba(168, 172, 167, 0.5);
}

input[type=range].userSlider:focus::-ms-fill-upper {
    background: #a8aca7;
}

/*TODO: Use one of the selectors from https://stackoverflow.com/a/20541859/7077589 and figure out
how to remove the virtical space around the range input in IE*/
@supports (-ms-ime-align:auto) {
    /* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
    input[type=range].userSlider {
        margin: 0;
        /*Edge starts the margin from the thumb, not the track as other browsers do*/
    }
}

@media (min-width: 800px) {
    .next {
        font-size: x-large;
    }
}

@media (min-width: 1024px) {
    .questionContainer {
        max-width: 100%;
        max-height: 100%;
    }

    .questionIconContainer {
        height: auto;
        width: 15%;
    }

    .slideContainer {
        max-height: 100%;
        max-width: 100%;
    }

    .questionBody {
        min-height: 0;
        max-width: 100%;
        max-height: 100%;
    }

    .leftInputValHolder {
        margin-top: 1%;
        width: 25%;
        margin-left: 25%;
    }

    .rightInputValHolder {
        width: 25%;

    }

    .questionText {
        font-size: large;
        width: 100%;
    }

    .inputContainer {
        width: 50%;
        display: block;
        margin: auto;
    }

    .questionTextHolder {
        width: 45%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5%;
    }

    .next {
        width: 20%;
        margin-bottom: 5%;
    }

    .advertisement {
        width: 80%;
        position: relative;
        margin-left: auto;
        margin-right: auto;
    }

}