.weather-results {

}

.results-page-weather {
    text-align: center;
    display: inline-block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.weather-page-title {
    margin-top: 1%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.daily-forecast {
    display: inline-block;
    width: 20%;
    padding: 1%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 2.5%;
    border: black solid 1px;
    border-radius: 5px;
}

.five-day-forecast {
    display: inline-block;
}

.conversion-legend {
    margin-top: 3%;
}

.conversion-toggle {
    width: 45%;
    display: inline-block;
}

.temp-radio-btn {
    display: inline-block;
    margin-right: 1%;
    margin-left: 5%;
    padding-top: 1%;
}

.temp-holder {
    display: inline-block;
    width: 50%;
    margin-top: 5%;
}

.temp-label-holder {
    display: inline-block;
}


@media screen and (min-width: 1024px) {
    .conversion-toggle {
        width: 15%;
    }

    .five-day-forecast {
        width: 100%;
    }

    .daily-forecast {
        width: 20%;
        margin-bottom: 1%;
        margin-left: 0;
        margin-right: 0;
    }

    .weather-image {
        max-width: 100%;
    }

    .cloud-coverage {
        font-size: large;
    }

}

@media screen and (max-width: 991px) {
    .conversion-toggle {
        width: 25%;
    }

    .daily-forecast {
        width: 50%;
    }
}

